.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display:block;
    width: 26px;
    height:3px;
    margin:7px auto;
    transition: 300ms;
}

.nav-menu li {
    margin-right: 30px;
    
}


@media(max-width:768px) {
    .hamburger{
        display: block;
        cursor: pointer;
        transition: 300ms;
        margin-top: 4px;
     
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
        transition: 300ms
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
        transition: 300ms
    }


    .hamburger.active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
        transition: 300ms
    }


    .nav-menu{
        /* padding:3px; */
        position:absolute;
        flex-direction: column;
        top:100px;
        right:-100%;
        margin: 0px;
        text-align: right;
        transition: 0.6s ease;
     
    }

    .nav-menu .header{
        /* width: 100px; */
        right:-10
    }

    .nav-menu.active{
        right:10px;
   

    }

        
    .overlay-menu{
        position: absolute;

        border-radius: 20px;
        width: 210px;
        height:370px;
        right: -100%;
        top:20px;
        backdrop-filter: blur(6px);
        background-color: rgba(255, 255, 255, 0.621);
      
    }
    
    .overlay-menu.active{
        right: -4px;
      
    }
    
    .icons li{
        margin: 2px
    }
}